@import "tailwindcss";

body {
  font-family: "Kantumruy Pro", sans-serif;
}

.invoice {
  font-family: "Courier New", monospace;
  /* Better readability */
  font-size: 12px;
  /* width:100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}

.sub-title {
  font-size: 16px;
  color: gray;
}

.divider {
  /* border-bottom: 1px dashed black; */
  margin: 4px 0;
}

.info {
  text-align: left;
  font-size: 12px;
  margin-bottom: 4px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.receipt-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.receipt-table th,
.receipt-table td {
  padding: 2px 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 12px;
}

.footer {
  margin-top: 4px;
  font-size: 12px;
  color: gray;
  text-align: center;
}

#print {
  position: absolute;
  left: 0;
  top: 0;
}